name: Run test

on:
  pull_request:
    types:
      - opened
      - synchronize

env:
  NEXT_PUBLIC_BASE_URL: https://demo-api.dwarvesf.com/api/v1

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          version: 16.x

      - uses: pnpm/action-setup@v2
        with:
          version: 8.2.0

      - name: Jest run
        run: |
          pnpm install
          pnpm test:ci
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          build: pnpm build
          start: pnpm start
